<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{ url_for('static', filename='index.css') }}-->

    <!-- BOOTSTRAP CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Importing Socket IO -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <!-- OUR JAVASCRIPT -->
    <script src="{{ url_for('static', filename='scripts/main2.js') }}"></script>

    <!-- OUR CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/video.css') }}"
    />
    <title>Distraction Detector</title>
  </head>
  <body>
    <section id="face">
      <div class="heading_div">
        <h1 class="heading">Face Pose Detection</h1>
        <h2 id="happening" class="calibrating">Status</h2>
      </div>

      <!-- VIDEO ELEMENT -->
      <video autoplay="true" id="videoElement" class="video"></video>

      <div class="container-fluid" id="face-and-data">
        <div class="row">
          <div class="col angles">
            <h1 class="angle-title">Rotational Vectors</h1>
            <div class="angle">
              <h2 class="angle-name vals" id="pitch">Pitch : -</h2>
            </div>
            <div class="angle">
              <h2 class="angle-name vals" id="yaw">Yaw : -</h2>
            </div>
            <div class="angle">
              <h2 class="angle-name vals" id="roll">Roll : -</h2>
            </div>
          </div>
          <div class="col image">
            <canvas id="canvasElement" class="canvas"></canvas>
          </div>
          <div class="col-lg-3 instructions-div">
            <h2 class="instructions-header">Instructions</h2>
            <p class="instruction">1. Please use Google Chrome.</p>

            <p class="instruction">
              2. When calibrating, please keep still for up to a minute. If you
              wish to reset, press the button below.
            </p>

            <p class="instruction">
              Note: Our demo may seem slow. This is mainly due to issues with
              server-deployment and is not indicative of our performance.
            </p>

            <button
              type="button"
              class="btn btn-outline-dark btn-lg"
              id="reset"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- <section id="data" class="">
        <div class="container-fluid hor-vert">
          <div class="row">
            <div class="col-lg-4">
              <h2 class="hor-vert-header">Horizontal</h2>
              <p id="horizontal" class="vals">-</p>
            </div>
            <div class="col-lg-4">
              <button type="button" class="btn btn-outline-dark" id="reset">
                Reset
              </button>
            </div>
            <div class="col-lg-4">
              <h2 class="hor-vert-header">Vertical</h2>
              <p id="vertical" class="vals">-</p>
            </div>
          </div>
        </div>
        <div class="container-fluid angles">
          <div class="row">
            <div class="col-lg-4">
              <h2 class="angle-header">Pitch</h2>
              <p id="pitch" class="vals">-</p>
            </div>
            <div class="col-lg-4">
              <h2 class="angle-header">Yaw</h2>
              <p id="yaw" class="vals">-</p>
            </div>
            <div class="col-lg-4">
              <h2 class="angle-header">Roll</h2>
              <p id="roll" class="vals">-</p>
            </div>
          </div>
        </div>
      </section> -->

    <!-- <div style="border: solid black 1px">
      <h1>Horizontal</h1>
      <p id="horizontal" class="vals">-</p>
    </div>

    <div style="border: solid black 1px">
      <h1>Vertical</h1>
      <p id="vertical" class="vals">-</p>
    </div> -->

    <!-- <div style="border: solid black 1px">
      <h1>Pitch</h1>
      <p id="pitch" class="vals">-</p>
    </div>

    <div style="border: solid black 1px">
      <h1>Yaw</h1>
      <p id="yaw" class="vals">-</p>
    </div>

    <div style="border: solid black 1px">
      <h1>Roll</h1>
      <p id="roll" class="vals">-</p>
    </div> -->

    <section id="info">
      <div class="info_heading_div">
        <h1 class="info_heading">What do our results mean?</h1>
      </div>

      <div class="row">
        <div class="col-lg-12 info_div info_div_2">
          <div class="card">
            <img
              src="https://miro.medium.com/max/691/1*U4ZQ8UjzouVMRo2Fgsz7UA.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Rotational Vectors (Pitch, Yaw, Roll)</h5>
              <hr />
              <p class="card-text">
                Our model works by first calculating which direction the user’s
                head is turned to then make a decision on how focused they are
                on the task at hand. To do this it uses Pitch, yaw, and roll to
                represent three different angles of rotation. Measured in
                degrees, the values indicate how much your head has turned from
                the baseline - with the baseline being you looking straight
                ahead as measured during calibration.
              </p>
              <p class="card-text">
                <strong><em>Pitch</em></strong> is for vertical rotation where
                positive values indicate that you’re looking upward and negative
                values meaning that you’re looking downward.
                <strong><em>Yaw</em></strong> is horizontal rotation with
                rightward turns being represented by negative values and
                leftward turns being represented by positive values.Lastly,
                <strong><em>Roll</em></strong> is how your head is tilted either
                to the left or to the right represented by negative and positive
                values respectively.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="footer_div">
        <p>Copyright@ Optifocal 2021</p>
      </div>
    </section>
  </body>

  <script></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"
  ></script>
</html>
